/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
.border {
  border: 1px solid black;
}
.flex {
  display: flex;
  justify-content: space-between;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 20px;
  font-size: 62.5%;
}
.home {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 20px 20px 0 20px;
}
.home header {
  height: 50px;
}
.home header nav {
  text-align: end;
}
@media (max-width: 500px) {
  .home header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.home header a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
  font-size: 1.7rem;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.home .top-content-container {
  background: #dbecfa;
  height: 500PX;
  margin-bottom: 20px;
}
.home .top-content-container .top-content {
  padding: 20px;
}
.home .top-content-container .top-content h1 {
  font-size: 4rem;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
@media (max-width: 500px) {
  .home .top-content-container .top-content h1 {
    font-size: 2rem;
  }
}
.home .top-content-container .top-content p {
  font-size: 1.7rem;
  padding-top: 5px;
}
.home .top-content-container .top-content .team-up {
  margin-top: 20px;
}
.home .top-content-container .top-content .team-up p {
  padding: 20px 0;
  line-height: 20px;
}
.home .top-content-container .top-content .team-up .btn {
  border: 1px solid black;
  font-size: 2rem;
  text-decoration: none;
  background: grey;
  border-radius: 5%;
  color: #dbecfa;
}
@media (max-width: 800px) {
  .home .top-content-container .top-content .team-up .btn {
    display: none;
  }
}
.home .top-content-container img {
  height: 250px;
  width: 250px;
}
.home .bottom-content-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .bottom-content-container {
    display: flex;
    flex-direction: column;
  }
}
.home .bottom-content-container .bottom-content {
  width: 45%;
}
@media (max-width: 500px) {
  .home .bottom-content-container .bottom-content {
    width: 100%;
  }
}
.home .bottom-content-container .bottom-content h2 {
  font-size: 3rem;
  padding-bottom: 5px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.home .bottom-content-container .bottom-content p {
  font-size: 1.4rem;
  line-height: 20px;
}
.home .bottom-content-container .bottom-content li {
  font-size: 1.4rem;
  padding: 8px 4px;
  border: 1px solid #dbecfa;
}
.home .work-history {
  margin: 30px 0;
}
.home .work-history table {
  height: 150px;
}
.home .work-history table .table-item {
  text-align: center;
}
.home .work-history h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.home .work-history th {
  font-size: 1.5rem;
}
.home .work-history td {
  font-size: 1.5rem;
  margin-left: 20px;
}
.home .work-history tr:nth-child(even) {
  background-color: #dbecfa;
}
.home footer {
  background: grey;
  height: 50px;
  text-align: center;
}
.home footer p {
  font-size: 1rem;
  padding-top: 8px;
  color: white;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.home footer h3 {
  font-size: 2rem;
  color: #dbecfa;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
